%div.notes
  %div.nav
    = link_to image_tag("arrow_left.png", :border => 0), note_path(@note.prev)
    = link_to image_tag("arrow_right.png", :border => 0), note_path(@note.next)
  %div.title
    = link_to @note.title, edit_note_path(@note)
  %div.date
    = "#{@note.begin_date.strftime("%A, %B %d, %Y") unless @note.begin_date.nil?} #{@note.end_date.strftime(":: %A, %B %d, %Y") unless @note.end_date.nil?}"
  %div.body
    = @note.body.gsub("\n", "<br/>").html_safe
  - if !@note.tags.empty?
    %div.meta= "Tags"
    - @note.tags.each do |tag|
      %div.link
        = link_to image_tag("x-red.gif", :border => 0), "#{note_tag_path(@note)}?tag=#{tag.id}", :method => :delete, :confirm => "Are you sure?"
        = link_to tag.name, tag_path(tag)
  - if !@note.urls.empty?  
    %div.meta= "Urls"
    - @note.urls.each do |url|
      %div.link= link_to url.link, url.link, :target => '_blank'
  - images = @note.assets.select{ |asset| asset.file.url.match('(gif|png|jp[e]*g)$') }.count
  - if images > 0
    %div.meta= "Images"
    - @note.assets.each do |asset|
      - if asset.file.url.match('(gif|png|jp[e]*g)$')
        %div.image
          = link_to image_tag("#{note_image_path(@note)}?file=#{asset.file.url}", :border => 0), asset.file.url, :target => '_blank'
  - if !@note.locations.empty?
    %div.meta= "Maps"
    - @note.locations.each do |location|
      %div{:id => "map_#{location.name}", :class => "map"}
        :javascript
          createMap("map_#{location.name}", "#{location.name}", "#{location.latitude}", "#{location.longitude}");
      %div.legend= location.description.gsub("\n", "<br/>").html_safe
    %div.end
  - if !@note.assets.empty?
    %div.meta= "Files"
    - @note.assets.each do |asset|
      %div.link= link_to asset[:file], asset.file.url, :target => '_blank'
